* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  color: #1d1b1b;
}

a:link,
a:visited {
  text-decoration: none;
}

section {
  margin: 100px 0px;
}

.btn {
  font-family: "Montserrat", sans-serif;
  outline: transparent;
  padding: 20px 49px;
  border-radius: 5px;
  cursor: pointer;
  border: transparent;
}
.btn-xs {
  font-family: "Montserrat", sans-serif;
  outline: transparent;
  border: transparent;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px 18px;
}
.btn-sm {
  font-family: "Montserrat", sans-serif;
  outline: transparent;
  border: transparent;
  border-radius: 5px;
  cursor: pointer;
  padding: 13px 42px;
}
.btn-lg {
  font-family: "Montserrat", sans-serif;
  outline: transparent;
  border: transparent;
  border-radius: 5px;
  cursor: pointer;
  padding: 26px 48px;
  text-transform: uppercase;
}
.btn-primary {
  background-color: #ef0178;
  border: transparent;
  color: #fff;
  font-weight: bold;
}




.btn-primary:hover {
  background-color: #e00171;
}

.btn-primary-outline {
  border: 1px solid #ef0178;
  color: #ef0178;
  font-weight: bold;
  background-color: transparent;
}

.btn-primary-outline:hover {
  background-color: #e00171;
  color: #fff;
}

.btn-secondary {
  display: inline-block;
  color: #fff;
  background-color: #5243c2;
}

.btn-secondary:hover {
  background-color: #4233af;
}
.menu {
  list-style: none;
  font-weight: bold;
  display: inline-flex;
  gap: 30px;
}

.menu .current-page {
  color: #ef0178;
}

.container {
  max-width: 1280px;
  margin: 0px auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo h3 {
  font-weight: 500;
}

.grid-col-2 {
  display: grid;
  column-gap: 100px;
  grid-template-columns: repeat(2, 1fr);
}

.grid-col-3 {
  display: grid;
  column-gap: 100px;
  grid-template-columns: repeat(3, 1fr);
}

.grid-col-4 {
  display: grid;
  column-gap: 100px;
  grid-template-columns: repeat(4, 1fr);
}

.color-primary {
  color: #ef0178 !important;
}
.color-secondary {
  color: #5243c2 !important;
}

.section-title-box {
  text-align: center;
  max-width: 620px;
  margin: 0px auto;
}

.heading-primary {
  font-size: 64px;
}

.heading-secondary {
  font-size: 30px;
  font-weight: bold;
  margin-top: 12px;
}

.heading-thirdiary {
  font-size: 48px;
  font-weight: 700;
}

.heading-paragraph {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 25px;
}

.heading-paragraph-muted {
  font-size: 18px;

  margin-top: 25px;
  color: #888787;
}

.info-paragraph {
  font-size: 18px;
  line-height: 2;
  font-weight: 500;
  color: #888787;
}
.sub-header {
  font-size: 18px;
  color: #ef0178;
}

.top {
  display: grid;
  grid-template-columns: 1fr 600px;
}

.top .text-box {
  align-self: center;
  line-height: 1.2;
}

.text-box *:not(:last-child) {
  margin-bottom: 25px;
}

.info-paragraph {
  padding: 20px 0px;
}
.about-text-box {
  align-self: center;
}
.companies {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
  margin-top: 50px;
}

.feature-list {
  list-style-type: none;
  list-style: none;
}

.feature-list li::before {
  content: "";
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/fb-heart.gif");
  background-size: contain;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  position: relative;
  top: 0.5rem;
  margin-right: 0.2rem;
}
.service-boxes {
  margin-top: 50px;
}
.serevice-boxes-box-icon--1 {
  background: linear-gradient(
    to top left,
    rgba(255, 204, 64, 1),
    rgba(255, 204, 64, 0.5)
  );
  width: 110px;
  height: 110px;
  position: relative;
  box-shadow: 0px 3px 8px rgba(43, 42, 42, 0.1.3);
  border-radius: 30px;
  display: block;
  margin: 0px auto;
}

.serevice-boxes-box-icon--2 {
  background: linear-gradient(
    to top left,
    rgba(37, 217, 217, 1),
    rgba(37, 217, 217, 0.5)
  );
  width: 110px;
  height: 110px;
  position: relative;
  box-shadow: 0px 3px 8px rgba(43, 42, 42, 0.1.3);
  border-radius: 30px;
  display: block;
  margin: 0px auto;
}

.serevice-boxes-box-icon--3 {
  background: linear-gradient(
    to top left,
    rgba(8, 152, 231, 1),
    rgba(8, 152, 231, 0.5)
  );
  width: 110px;
  height: 110px;
  position: relative;
  box-shadow: 0px 3px 8px rgba(43, 42, 42, 0.1.3);
  border-radius: 30px;
  display: block;
  margin: 0px auto;
}

.serevice-boxes-box-icon--4 {
  background: linear-gradient(
    to top left,
    rgba(255, 144, 102, 1),
    rgba(255, 144, 102, 0.5)
  );
  width: 110px;
  height: 110px;
  position: relative;
  box-shadow: 0px 3px 8px rgba(43, 42, 42, 0.1.3);
  border-radius: 30px;
  display: block;
  margin: 0px auto;
}

.service-boxes-box {
  text-align: center;
}

.service-boxes-box *:not(:last-child) {
  margin-bottom: 25px;
}

.serevice-boxes-box-icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.service-boxes-title {
  font-weight: bold;
  color: #000;
  font-size: 18px;
}
.service-box-text {
  color: rgba(0, 0, 0, 0.5);
}

.hire-developers {
  background-color: #5243c2;
  border-radius: 30px;
  padding: 80px;
  background-image: url("images/drawbg.png"), url("images/circles.png"),
    url("images/three-draw.png");
  background-repeat: no-repeat;
  background-position: 42% 78%, 60% 45%, 97% 24%;
  color: #fff;
}

.hire-developers button {
  justify-self: end;
  align-self: center;
  width: 280px;
  display: block;
}

.hire-developers button h4 {
  letter-spacing: 2px;
}
.pricing-box {
  margin-top: 50px;
  width: 75%;
}
.pricing-box button {
  border-radius: 100px;
  width: 100%;
}
.pricing-box button,
.properties {
  margin-top: 25px;
  display: block;
}
.properties li {
  list-style: none;
  color: #888787;
  font-weight: bold;
  padding: 10px 0px;
}
.properties li::before {
  content: "✔️";
  margin-right: 5px;
}

.featured-price li::before {
  content: "✔️";
  margin-right: 5px;
  filter: brightness(100);
}

.featured-price .btn-xs {
  position: absolute;
  top: 25px;
  right: 25px;
  background-color: #4031b3 !important;
  color: #f496d1 !important;
  border-radius: 100px;
}

.featured-price .price {
  margin-top: 40px;
}
.featured-price {
  width: 100%;
  position: relative;
  display: block;
  background-color: #5243c2;
  padding: 30px;
  color: #fff !important;
  border-radius: 30px;
  box-shadow: 0px 34px 42px 0px rgba(82, 67, 194, 0.7);
}

.featured-price * {
  color: #fff !important;
}

.pricing-boxes {
  align-items: end;
}

.pricing-boxes :first-child {
  justify-self: flex-end;
}
.pricing-boxes :last-child {
  justify-self: flex-start;
}

.reviews {
  display: flex;
  align-items: center;
}

.arrow {
  height: 64px;
  width: 64px;
  border-radius: 300px;
  background-color: #5243c2;
  color: #fff;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  flex-shrink: 0;
}

.testimonials {
  margin-top: 200px;
  position: relative;
  justify-content: center;
}

.reviews-box {
  padding: 24px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.avatar {
  border-radius: 100px;
  position: absolute;
  top: -80px;
  left: 177px;
}

.avatar img {
  width: 96px;
  border-radius: 100px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


footer{
  height: 560px;
  padding-top: 150px;
  background-color: #0c111f;
  color: #fff;
  background-image: url("images/drawbg.png"), url("images/circles.png");
  background-repeat: no-repeat;
  background-position:20% 65%, 81% 48%;
  text-align: center;
}


.mail-form-email{
  border-radius: 5px;
  margin-top: 50px;
  padding: 20px;
  outline: none;
  border: none;
  width: 20%;
  height: 59px;
  background-color: #1f2431;
}

.mail-form-email:focus{
  outline: 3px solid #6151db;
}

.mail-form-email::placeholder{
 color: #fff;
 font-weight: 700;
 letter-spacing: 1px;
 font-size: 16px;
}

.mail-form button{
  font-size: 16px;
  font-weight: 700;
}
footer nav {
  margin-top: 100px;
  padding: 0px 50px;
}
footer nav *{
  color: #fff !important;
}